---
layout: base
title: linux
---

<p class="lead">How do we pop mad shells on them *nix?</p>

<!-- Enumeration -->
<h3>Enumeration</h3>

<!-- nmap -->
<h5>nmap</h5>
{% assign tabs = "nmap_loud|nmap_quiet" %}
{% assign tabnames = "Loud|Quiet" %} {% assign content = "
<p>Run these in parallel.</p>
SCODE
<code>nmap -sC -sV -oG services.nmap & </code>
</div>
SCODE
<code>nmap -T5 -p- -oG alltcp.nmap RHOST & </code>
</div>
SCODE
<code>nmap -sU --max-retries 3 -oG udp.nmap RHOST & </code>
</div><br>
<p>Follow up by scanning each interesting port found with <span><code>-sC -sV</code></span>.</p>
<p>If stuck, hit 'em with the:</p>
SCODE
<code>nmap -sU -p- --max-retries 3 -oG alludp.nmap RHOST</code>
</div>

|

<p>Individually investigate interesting ports after output of the first command.</p>
SCODE
<code>nmap -sT -Pn -T1 -oG quietscan RHOST</code>
</div>
SCODE    
<code>nmap -sC -sV -Pn -T1 -pPORT,PORT,PORT -oG ports.nmap RHOST</code>
</div>
SCODE
<code>nmap -sU -Pn -T1 --max-retries 2 -oG udp.nmap RHOST</code>
</div><br>
<p>Or, just scan common ports.</p>
SCODE
<code>nmap -sT -T4 -P0 -T2 -p22,80,443 -oG common.nmap RHOST &</code>
</div>" %} {% include block.html %}

<!-- Entry -->
<h3>Entry</h3>

<!-- ssh -->
<h5>ssh // 22</h5>
{% assign tabs = "ssh_bruteforcing|ssh_exploitation"%} {% assign tabnames = "Bruteforcing|Exploitation" %} {% assign content =  "
bruetforcing

|

There won't be any RCE vulnerabilities for OpenBSD ssh. If it's an older version, add an informational vuln. If it's not OpenSSH, <code>searchsploit</code> it.

" %} {% include block.html %}


<!-- postgres -->
<h5>postgres // 5432</h5>
{% assign tabs = "psql_default_creds|psql_exploitation"%}
{% assign tabnames = "Default Creds|Exploitation"%}
{% assign content = 
"


|

There won't be any RCE vulnerabilities for OpenBSD ssh. If it's an older version, add an informational vuln. If it's not OpenSSH, <code>searchsploit</code> it.

"%} {% include block.html %}

<!-- redis -->
<h5>redis // 6379</h5>
{% assign tabs = "redis_creds|redis_exploit"%}
{% assign tabnames = "Default Creds|Exploitation"%}
{% assign content = "

Redis default creds are nonexistent (try with <span><code>rediscli -h RHOST</code></span>).

|

Redis (4.x/5.x) RCE can be achieved through two misconfiguraitons.
<ol>
    <li>Malicious module uploading via <span><code>slaveof</code></span> command (<a href='https://github.com/Ridter/redis-rce'>script</a>)</li>
    <li>Misconfiguration of allowing backup to overwrite SSH <span><code>authorized_keys</code></span> (<a href='https://github.com/Avinash-acid/Redis-Server-Exploit/blob/master/redis.py'>script</a>)</li>
</ol>

"%} {% include block.html %}

<!-- Privesc -->
<h3>Privilege Escalation</h3>
	
<!-- ssh -->
{% assign tabs = "bruteforcing|exploitation" %}
{% assign tabnames = "bruteforcing|exploitation" %} {% assign content = "
bruteforcing

|

There won't be any RCE vulnerabilities for OpenBSD ssh. If it's an older version, add an informational vuln. If it's not OpenSSH, <code>searchsploit</code> it.

" %} {% include block.html %}

<!-- Looting and Scrounging -->
<h3>Looting and Scrounging</h3>

<!-- Other Avenues -->
<h5>Finding other Avenues of Privesc</h5>
{% assign tabs = "other_privesc|" %} {% assign tabnames = "Standard Privesc" %}
{% assign content =  "


|

There won't be any RCE vulnerabilities for OpenBSD ssh. If it's an older version, add an informational vuln. If it's not OpenSSH, <code>searchsploit</code> it.

"%}
{% include block.html %}

<!--  -->
{% assign header = "ssh" %}
{% assign tabs = "other_privesc|" %}
{% assign content =  "

|

There won't be any RCE vulnerabilities for OpenBSD ssh. If it's an older version, add an informational vuln. If it's not OpenSSH, <code>searchsploit</code> it.

"%} {% include block.html %}

<!-- Informational Vulns -->
<h5>Finding Informational Vulns</h5>



