---
layout: base
title: webapp
---

<p class="lead">Webapp pentesting; often juicy low-hanging fruit</p>

<h3>Enumeration</h3>

<h5>OSINT</h5>
{% assign tabs = "wb_cert|wb_whois|wb_robots" %}
{% assign tabnames = "CA and Cert|WHOIS|robots.txt" %} {% assign content = "
Sometimes there's valuable info in the certificate of a website. Make sure to check it, especially if your browser alerts you that something's wrong.
|
A <span><code>whois</code></span> lookup helps sometimes.
SCODE
<code>whois RHOST</code>
</div>
|
Make sure to check the <span><code>robots.txt</code></span> of the website.
" %} {% include block.html %}

<h5>GoBuster</h5>
{% assign tabs = "gb_direnum|gb_install" %}
{% assign tabnames = "GoBuster Dir Enumeration|Install" %} {% assign content = "
Enumerate a site's directories:
SCODE
<code>gobuster dir -u http://RHOST/ -w /usr/share/wordlists/dirb/common.txt</code>
</div>
|
<span><code>GoBuster</code></span> binaries can be found <a href='https://github.com/OJ/gobuster/releases'>here</a>." %} {% include block.html %}

<h5>wfuzz</h5>
{% assign tabs = "wfuzz1|wfuzz2" %}
{% assign tabnames = "wfuzzone|wfuzztwo" %} {% assign content = "
wfuzz is really cool, it can bruteforce content, fuzz HTTP options, etc. Really nice tool.
|
wfuzz is really cool, it can bruteforce content, fuzz HTTP options, etc. Really nice tool. #2." %} {% include block.html %}

<h3>Entry</h3>

<h5>PHP Shells</h5>
{% assign tabs = "ws_weevely|ws_p0wny" %}
{% assign tabnames = "Weevely PHP Shell Generator|p0wny PHP Shell" %} {% assign content = "
Weevely can generate compact binding webshells. Build:
SCODE
<code>weevely generate password ./shell.php</code>
</div>
Connect:
SCODE
<code>weevely RHOST/shell.php password</code>
</div>
|
<span><code>p0wny</code></span> binding webshell can be found <a href='https://raw.githubusercontent.com/flozz/p0wny-shell/master/shell.php'>here</a>." %} {% include block.html %}

<h5>HTTP Auth</h5>
{% assign tabs = "httpauth_vbypass|httpauth_bruteforce" %}
{% assign tabnames = "Verb Bypass|Bruteforcing" %} {% assign content = "
1
|
2
" %} {% include block.html %}
				
<!--
				nikto [nikto syntax]


				find forms, editable fields, user input, login forms
					try to make account, check for sql injections, xss, editable pages
				sqlmap [sqlmap syntax]
				check source code

				scrape webpage (wordlist maker) [wordlist maker link]
				bruteforce things [hydra or other] [hyra or other syntax]

				use developer tools (or burp i GUESSSSS)
				check post forms, insecure headers, get parameters

				check cookies (serialized php, session, etc)

				[node.js stuff here... api stuff]
				rpc stuff
			
				common exploits
				searchsploit [webapp] -->


