{% assign tabs = tabs | split: "|" %}
{% assign tabnames = tabnames | split: "|" %}
{% assign content = content | split: "|" %}

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link show active" data-toggle="tab" href="#{{ tabs[0] }}">{{ tabnames[0] }}</a>
    </li>
    {% assign i = 1 %}
    {% for tab in tabs offset:1 %} 
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#{{ tab }}">{{ tabnames[i] }}</a>
        </li>
        {% assign i = i | plus: 1 %}
    {% endfor %}
</ul>

<div class="tab-content">
    <div class="tab-pane show active" id="{{ tabs[0] }}">
        {{ content[0] | replace: "SCODE", "<div class='code' onclick='copyClipboard(this)'><span></span>"  }}
    </div>
    {% assign i = 1 %}
    {% for tab in tabs offset:1 %}
    <div class="tab-pane" id="{{ tab }}">
        {{ content[i] | replace: "SCODE", "<div class='code' onclick='copyClipboard(this)'><span></span>" }}
    </div>
    {% assign i = i | plus: 1 %}
    {% endfor %}
</div><br>

