<!DOCTYPE html>
<html class="h-100" lang="en">


<head>
    <meta charset="utf-8">
    <title>penref // {{ page.title }}</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/bootstrap.css">
    <link rel="stylesheet" href="/assets/main.css">
    <style type="text/css">
		.hidden {display:none;}
    </style>
    <script type="text/javascript" src="/assets/jquery.min.js"></script>
    <script type="text/javascript">
		$('html').addClass('hidden');
		$(document).ready(function() {
		  $('html').show();
		  $('#hosts').click(function() {
		       $('.RHOST').text($('#RHOST').val().trim());
		       $('.LHOST').text($('#LHOST').val().trim());
		  });
	    });
   </script>
</head>

<body class="d-flex flex-column h-100">
    {% include nav.html %}
                
    <!-- Begin page -->
    <main role="main" class="flex-shrink-0">
        <div class="container">
            
            <!-- Page title and subtitle -->
            <h1 class="mt-5">
                <code><b><i>penref // {{ page.title }}</i></b></code>
            </h1><br>
            <section>
                {{ content }}
            </section>
            
        </div>
    </main><br>
    
    {% include footer.html %}

    <!-- JS -->
    <script src="/assets/bootstrap.js"></script>
    <script src="/assets/main.js"></script>

</body>
</html>
